# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Output folders
/dist
/out

# Environment variables
.env
.env.local
.env.*.local

# Editor and IDE files
.vscode/
.idea/

# Testing
/coverage
/.nyc_output

# Build process
/build
